# Preprocessing the complete Altmetric dataset

### Sneha Ravi Chandran   -  Z1856678
### Priyanjani Chandra       -  Z1864520

In [1]:
import os, json
import numpy as np
import pandas as pd
import glob

In [2]:
dict_values={}

PATH = "D:/Fall_2019/Big_Data_Analytics/Altmetric_Data/keys/"

# PATH = "D:/Fall_2019/Big_Data_Analytics/altmetric_clean_sample/"

folder_names = os.listdir(PATH)
columns = ['Altmetric_ID', 'Altmetric_Score', 'Mendeley','CiteULike', 'Twitter', 'Facebook', 'Video',
           'GooglePlus', 'Reddit', 'Blogs', 'Peer_Reviews', 'News', 'F1000', 'Wikipedia', 'Youtube']
df = pd.DataFrame(columns = columns, dtype=int)

count = 0
for folder in folder_names:
    file_names = os.listdir(PATH + folder)

    for file in file_names:            
        with open(os.path.join(PATH, folder, file),encoding="ISO-8859-1") as f:
            data1 = {}
            for line in f:
                data1 = json.loads(line)
                break

            try:
                dict_values['Altmetric_ID']=(data1['altmetric_id'])
            except KeyError:
                dict_values['Altmetric_ID']= np.NaN
                break


            try:
                dict_values['Altmetric_Score']=(data1["altmetric_score"]["score"])
            except KeyError:
                dict_values['Altmetric_Score']=0


            try:
                dict_values['Mendeley']=(data1['counts']['readers']['mendeley'])
            except KeyError:
                dict_values['Mendeley']=0

            try:
                dict_values['CiteULike']=(data1['counts']['readers']['citeulike'])
            except KeyError:
                dict_values['CiteULike']=0

            try:
                dict_values['Twitter']=(data1['counts']['twitter']['posts_count'])
            except:
                dict_values['Twitter']=0

            try:
                dict_values['Facebook']=(data1['counts']['facebook']['posts_count'])
            except:
                dict_values['Facebook']=0

            try:
                dict_values['Video']=(data1['counts']['video']['posts_count'])
            except:
                dict_values['Video']=0

            try:
                dict_values['GooglePlus']=(data1['counts']['googleplus']['posts_count'])
            except:
                dict_values['GooglePlus']=0

            try:
                dict_values['Reddit']=(data1['counts']['reddit']['posts_count'])
            except:
                dict_values['Reddit']=0

            try:
                dict_values['Blogs']=(data1['counts']['blogs']['posts_count'])
            except:
                dict_values['Blogs']=0

            try:
                dict_values['Peer_Reviews']=(data1['counts']['peer_reviews']['posts_count'])
            except:
                dict_values['Peer_Reviews']=0


            try:
                dict_values['News']=(data1['counts']['news']['posts_count'])
            except:
                dict_values['News']=0


            try:
                dict_values['F1000']=(data1['counts']['f1000']['posts_count'])
            except:
                dict_values['F1000']=0

            try:
                dict_values['Wikipedia']=(data1['counts']['wikipedia']['posts_count'])
            except:
                dict_values['Wikipedia']=0


            try:
                if 'youtube' in data1['posts']['video'][0]['url']:
                    dict_values['Youtube']=1
                else:
                    dict_values['Youtube']=0
            except:
                dict_values['Youtube']=0


            if (dict_values['Altmetric_ID'] != np.NaN):
                df.loc[-1] = dict_values  # adding a row
                df.index = df.index + 1  # shifting index
                df = df.sort_index()
                count = count +1



df.to_csv('D:/Fall_2019/Big_Data_Analytics/altmetric_clean_full.csv', index = None, header = True)
print(count)
print(df)

380518
        Altmetric_ID  Altmetric_Score  Mendeley  CiteULike  Twitter  Facebook  \
0          4203182.0            2.000       1.0        0.0      4.0       0.0
1         21895036.0            0.000       0.0        0.0      0.0       0.0
2         33329846.0            0.000       0.0        0.0      0.0       0.0
3         21985072.0            0.000       0.0        0.0      0.0       0.0
4           434953.0            1.850       0.0        0.0      2.0       0.0
5         38252270.0            0.000       0.0        0.0      0.0       0.0
6         16939496.0           20.330      14.0        0.0      0.0       5.0
7          4585727.0            0.500      13.0        0.0      2.0       0.0
8         23240874.0            0.000       0.0        0.0      0.0       0.0
9         21947625.0            0.000       0.0        0.0      0.0       0.0
10         5458004.0            3.000      31.0        0.0      0.0       0.0
11        38053852.0            0.000       0.0        0.0      0.0       0.0
12         1385689.0            5.408      34.0        0.0      0.0       0.0
13        16713618.0            7.000      18.0        0.0      0.0       0.0
14        32508679.0            0.250       5.0        0.0      1.0       0.0
15        22042208.0            0.000       0.0        0.0      0.0       0.0
16        20557959.0            3.000       4.0        0.0      0.0       0.0
17         8540118.0            0.000      27.0        0.0      0.0       0.0
18         8709194.0            0.500       0.0        0.0      1.0       0.0
19        40533462.0            0.000       3.0        0.0      0.0       0.0
20        37505125.0            0.000       0.0        0.0      0.0       0.0
21        16870471.0            4.550      18.0        0.0      8.0       0.0
22        37184115.0            0.000       0.0        0.0      0.0       0.0
23        37240583.0            0.000       0.0        0.0      0.0       0.0
24        21377688.0            1.850      21.0        0.0      3.0       1.0
25        39678659.0            0.000       0.0        0.0      0.0       0.0
26        42740860.0            3.000       6.0        0.0      0.0       0.0
27        36733416.0            0.000       0.0        0.0      0.0       0.0
28         3009161.0            0.250      13.0        0.0      1.0       0.0
29         3338151.0            3.000      18.0        1.0      0.0       0.0
...              ...              ...       ...        ...      ...       ...
380488    41403067.0            3.000      40.0        0.0      0.0       0.0
380489     4418473.0            1.000      62.0        2.0      3.0       0.0
380490     5468231.0            0.000       2.0        0.0      0.0       0.0
380491    21296445.0            0.250       0.0        0.0      1.0       0.0
380492    38513729.0            0.000       0.0        0.0      0.0       0.0
380493     6658544.0           44.100      67.0        1.0     76.0       1.0
380494    17480573.0            0.000       0.0        0.0      0.0       0.0
380495    39282440.0            0.000       1.0        0.0      0.0       0.0
380496     1802425.0            0.250       0.0        0.0      1.0       0.0
380497    26753168.0            0.000       4.0        0.0      0.0       0.0
380498    43680745.0            4.200       0.0        0.0      6.0       0.0
380499    24228152.0            1.000     101.0        1.0      1.0       0.0
380500     2674408.0           19.500     114.0        1.0     26.0       7.0
380501     8419026.0            6.700      33.0        1.0      8.0       1.0
380502     7152592.0            0.000       3.0        0.0      0.0       0.0
380503    18202916.0            4.550       1.0        0.0      8.0       0.0
380504    41714651.0            6.000      18.0        0.0      0.0       0.0
380505    37611984.0            0.000       0.0        0.0      0.0       0.0
380506     2192276.0            1.000       4.0        0.0      4.0       0.0
380507    36317640.0            0.000       0.0        0.0      0.0       0.0
380508    21028825.0            0.000       5.0        0.0      0.0       0.0
380509     5625077.0            5.000      52.0        0.0      0.0       0.0
380510     7515769.0            0.000       0.0        0.0      0.0       0.0
380511    32200660.0            0.500       3.0        0.0      2.0       0.0
380512    37495145.0            0.000       0.0        0.0      0.0       0.0
380513    42441506.0            3.000     155.0        0.0      0.0       0.0
380514    38876082.0            0.000       0.0        0.0      0.0       0.0
380515    38739842.0            0.000       0.0        0.0      0.0       0.0
380516    18198163.0            2.500       9.0        0.0      0.0       0.0
380517    39993971.0            0.000       0.0        0.0      0.0       0.0

        Video  GooglePlus  Reddit  Blogs  Peer_Reviews  News  F1000  \
0         0.0         0.0     0.0    0.0           0.0   0.0    0.0
1         0.0         0.0     0.0    0.0           0.0   0.0    0.0
2         0.0         0.0     0.0    0.0           0.0   0.0    0.0
3         0.0         0.0     0.0    0.0           0.0   0.0    0.0
4         0.0         0.0     0.0    0.0           0.0   0.0    0.0
5         0.0         0.0     0.0    0.0           0.0   0.0    0.0
6         0.0         0.0     0.0    1.0           0.0   1.0    0.0
7         0.0         0.0     0.0    0.0           0.0   0.0    0.0
8         0.0         0.0     0.0    0.0           0.0   0.0    0.0
9         0.0         0.0     0.0    0.0           0.0   0.0    0.0
10        0.0         0.0     0.0    0.0           0.0   0.0    0.0
11        0.0         0.0     0.0    0.0           0.0   0.0    0.0
12        0.0         0.0     0.0    1.0           0.0   0.0    0.0
13        0.0         0.0     0.0    0.0           0.0   1.0    0.0
14        0.0         0.0     0.0    0.0           0.0   0.0    0.0
15        0.0         0.0     0.0    0.0           0.0   0.0    0.0
16        0.0         0.0     0.0    0.0           0.0   0.0    0.0
17        0.0         0.0     0.0    0.0           0.0   0.0    0.0
18        0.0         0.0     0.0    0.0           0.0   0.0    0.0
19        0.0         0.0     0.0    0.0           0.0   0.0    0.0
20        0.0         0.0     0.0    0.0           0.0   0.0    0.0
21        0.0         0.0     0.0    0.0           0.0   0.0    0.0
22        0.0         0.0     0.0    0.0           0.0   0.0    0.0
23        0.0         0.0     0.0    0.0           0.0   0.0    0.0
24        0.0         0.0     0.0    0.0           0.0   0.0    0.0
25        0.0         0.0     0.0    0.0           0.0   0.0    0.0
26        0.0         0.0     0.0    0.0           0.0   0.0    0.0
27        0.0         0.0     0.0    0.0           0.0   0.0    0.0
28        0.0         0.0     0.0    0.0           0.0   0.0    0.0
29        0.0         0.0     0.0    0.0           0.0   0.0    0.0
...       ...         ...     ...    ...           ...   ...    ...
380488    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380489    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380490    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380491    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380492    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380493    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380494    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380495    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380496    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380497    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380498    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380499    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380500    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380501    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380502    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380503    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380504    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380505    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380506    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380507    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380508    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380509    0.0         0.0     0.0    1.0           0.0   0.0    0.0
380510    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380511    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380512    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380513    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380514    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380515    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380516    0.0         0.0     0.0    0.0           0.0   0.0    0.0
380517    0.0         0.0     0.0    0.0           0.0   0.0    0.0

        Wikipedia  Youtube
0             0.0      0.0
1             0.0      0.0
2             0.0      0.0
3             0.0      0.0
4             0.0      0.0
5             0.0      0.0
6             0.0      0.0
7             0.0      0.0
8             0.0      0.0
9             0.0      0.0
10            1.0      0.0
11            0.0      0.0
12            0.0      0.0
13            0.0      0.0
14            0.0      0.0
15            0.0      0.0
16            0.0      0.0
17            0.0      0.0
18            0.0      0.0
19            0.0      0.0
20            0.0      0.0
21            0.0      0.0
22            0.0      0.0
23            0.0      0.0
24            0.0      0.0
25            0.0      0.0
26            0.0      0.0
27            0.0      0.0
28            0.0      0.0
29            2.0      0.0
...           ...      ...
380488        0.0      0.0
380489        0.0      0.0
380490        0.0      0.0
380491        0.0      0.0
380492        0.0      0.0
380493        0.0      0.0
380494        0.0      0.0
380495        0.0      0.0
380496        0.0      0.0
380497        0.0      0.0
380498        0.0      0.0
380499        0.0      0.0
380500        0.0      0.0
380501        1.0      0.0
380502        0.0      0.0
380503        0.0      0.0
380504        0.0      0.0
380505        0.0      0.0
380506        0.0      0.0
380507        0.0      0.0
380508        0.0      0.0
380509        0.0      0.0
380510        0.0      0.0
380511        0.0      0.0
380512        0.0      0.0
380513        0.0      0.0
380514        0.0      0.0
380515        0.0      0.0
380516        0.0      0.0
380517        0.0      0.0

[380518 rows x 15 columns]

In [3]:
df.head()

,Altmetric_ID,Altmetric_Score,Mendeley,CiteULike,Twitter,Facebook,Video,GooglePlus,Reddit,Blogs,Peer_Reviews,News,F1000,Wikipedia,Youtube
0,4203182.0,2.00,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,21895036.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,33329846.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,21985072.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,434953.0,1.85,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380518 entries, 0 to 380517
Data columns (total 15 columns):
Altmetric_ID       380518 non-null float64
Altmetric_Score    380273 non-null float64
Mendeley           380518 non-null float64
CiteULike          380518 non-null float64
Twitter            380518 non-null float64
Facebook           380518 non-null float64
Video              380518 non-null float64
GooglePlus         380518 non-null float64
Reddit             380518 non-null float64
Blogs              380518 non-null float64
Peer_Reviews       380518 non-null float64
News               380518 non-null float64
F1000              380518 non-null float64
Wikipedia          380518 non-null float64
Youtube            380518 non-null float64
dtypes: float64(15)
memory usage: 46.4 MB

In [11]:
# Reading the same sample
# new_df = pd.read_csv('D:/Fall_2019/Big_Data_Analytics/altmetric_clean_sample20.csv')

In [12]:
df1=df['Altmetric_Score']

In [13]:
df2 = df.drop('Altmetric_Score', axis=1)

In [14]:
df2=df2.apply(pd.to_numeric, downcast='integer', errors='coerce')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 14 columns):
Altmetric_ID    100000 non-null int32
Mendeley        100000 non-null int16
CiteULike       100000 non-null int16
Twitter         100000 non-null int16
Facebook        100000 non-null int16
Video           100000 non-null int8
GooglePlus      100000 non-null int16
Reddit          100000 non-null int8
Blogs           100000 non-null int8
Peer_Reviews    100000 non-null int8
News            100000 non-null int16
F1000           100000 non-null int8
Wikipedia       100000 non-null int8
Youtube         100000 non-null int8
dtypes: int16(6), int32(1), int8(7)
memory usage: 3.0 MB

In [15]:
df2.insert(1, 'Altmetric_Score', df1 )

In [16]:
df2.head()

,Altmetric_ID,Altmetric_Score,Mendeley,CiteULike,Twitter,Facebook,Video,GooglePlus,Reddit,Blogs,Peer_Reviews,News,F1000,Wikipedia,Youtube
0,9999663,1.50,14,0,4,0,0,0,0,0,0,0,0,0,0
1,9998649,1.00,0,0,1,0,0,0,0,0,0,0,0,0,0
2,9998373,0.25,1,0,1,0,0,0,0,0,0,0,0,0,0
3,9998071,7.00,15,0,0,0,0,0,0,0,0,1,0,0,0
4,9997201,4.35,10,0,11,0,0,0,0,0,0,0,0,0,0

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 15 columns):
Altmetric_ID       100000 non-null int32
Altmetric_Score    100000 non-null float64
Mendeley           100000 non-null int16
CiteULike          100000 non-null int16
Twitter            100000 non-null int16
Facebook           100000 non-null int16
Video              100000 non-null int8
GooglePlus         100000 non-null int16
Reddit             100000 non-null int8
Blogs              100000 non-null int8
Peer_Reviews       100000 non-null int8
News               100000 non-null int16
F1000              100000 non-null int8
Wikipedia          100000 non-null int8
Youtube            100000 non-null int8
dtypes: float64(1), int16(6), int32(1), int8(7)
memory usage: 3.7 MB